.Resume {
  /* Center Resume on page */
  margin: 0 auto;

  /* Size to look like paper */
  box-sizing: border-box;
  max-width: 816px;
  max-height: 1056px;
  aspect-ratio: 1 / 1.41421;

  background-color: #fafafa;
  border-radius: 3px;
  padding: 2.15rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Resume-edit.button {
  position: absolute;
}
